.custom_input input {
    border-radius: 4px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px;
    margin-top: 12px;
    height: 47px;
    width: 100%;
    font-family: var(--font-base);
  }

  input{
    color: #fff;
  }
  input:focus {
    border-color: var(--color-white);
    color: #fff;
  }
  
