.app_timeline-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.app_timeline-title h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
}

.app_timeline-title p {
    text-align: center;
    width: 40%;
    margin-bottom: 65px;
}

.vertical-timeline::before{
    height: 60%;
}

.vertical-timeline-element-content{
    position: relative;
    
    margin-left: 0;
    height: 180px;
}

/* p.tos{
    bottom: -25px;
    position: absolute;
} */

.position_content{
    
    position: absolute;
    bottom: -17%;
}
p.pos{
    color: #D434FE;
    font-family: var(--font-base);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    top: initial;
    color: #D434FE;
    font-family: var(--font-base);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 1;
}


span.vertical-timeline-element-date{
    position: absolute;
    bottom: 0;
}
.vertical-timeline-element-icon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: initial;
    box-shadow: none;
}

@media screen and (max-width: 780px) {

    .app_timeline-title h1{
        font-size: 20px;
        line-height: 27.5px;
        margin-bottom: 5px;
    }
    
    .app_timeline-title p {
        text-align: center;
        width: 80%;
        margin-bottom: 41px;
    }
    .vertical-timeline{
        padding: 0.81em 0 !important;
    }
    .vertical-timeline::before{
        height: 55% !important;
        top: initial;
    } 
    .vertical-timeline-element-content{
        position: relative;
        
        
        height: 130px;
        margin: 0;
        margin-left: 50px;
        padding: 2.5rem 0;
    }

    .position_content{
        position: relative;
        bottom: initial;
    }
    p.tos{
        text-align: left !important;
        font-size: 12px;
    }
    
    p.pos{
        text-align: left !important;
        font-size: 12px;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
        font-size: 12px;    
    }
}