.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	padding: 50px 0;
}
.main .head {
	position: relative;
	margin-bottom: 100px;
}


/* Container Css Start  */

.container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}

.container ul {
	margin-bottom: 20px;
}
.container ul::after {
	content: " ";
	position: absolute;
	width: 4px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: var(--color-accent);
}

/* .container ul .content::after{
	content: " ";
	position: absolute;
	width: 4px;
	height: 100%;
	inset: 104%;
	top: 90%;
	background: var(--color-accent);
}
.container ul .content2::after{
	content: " ";
	position: absolute;
	width: 4px;
	height: 100%;
	inset: -5%;
	top: 90%;
	background: var(--color-accent);
} */
.container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	border-radius: 8px;
	margin-bottom: 80px;
	z-index: 99;
}
.container ul li:nth-child(4) {
	margin-bottom: 0;
}
.container ul li .circle {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--color-accent);
	top: 50%;
	display: grid;
	place-items: center;
	color: var(--color-white);
}

ul li:nth-child(even) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(odd) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#7f00ff,#e100ff);
	border-radius: 15px;
	top: 40%;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.container ul li:nth-child(even) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	left: -50%;
}

ul li:nth-child(even) .date {
	right: -50%;
}
.container ul li:nth-child(odd) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 17px;
	color: rgb(91, 14, 216);
}
ul li p {
	font-size: 13px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px;
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.container{
		width: 70%;
		transform: translateX(20px);
	}
	.container ul::after{
		left: -40px;
	}
	.container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.container ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.container ul li .date{
		left: 20px;
	}
	.container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.container{
		width: 80%;
	}
	.container ul::after{
		left: -20px;
	}
	.container ul li .circle{
		left: -20px;
	}
}