.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar_links-container {
  display: flex;
  align-items: center;
  gap: 120px;
}

.navbar_link {
  display: flex;
  gap: 60px;
}

.navbar_link li {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.navbar_link .navbar_link-contact a {
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    letter-spacing: -1px;
}

.navbar_links-container .navbar_link-contact a.active {
  background: var(--gradient-bar);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


.navbar_links-container a.active .custom_button {
  background: var(--color-bg);
  border: 1px solid transparent;
  border-image: var(--gradient-bar);
  border-image-slice: 1;
  border-radius: 4px;
}

.navbar_mobile{
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar_links-container{
    display: none;
  }
  .navbar_link{
    display: flex;
    flex-direction: column;
  }

  .navbar_mobile{
    display: block;
  }

  .navbar_mobile-links{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: var(--color-bg);
    padding: 3.5rem;
    position: absolute;
    top: 100px;
    right: 0;
    min-width: 300px;
    border-radius: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0.04);
    z-index: 10000;
  }
  .navbar_menu img{
    width: 19px;
    height: 14px;
    display: flex;
    align-items: center;
  }

  .navbar_close{
      padding: 5px;
      border: 1px solid var(--color-accent);
      border-radius: 50%;
  }
  .navbar_close img{
      width: 11px;
      height: 11px;
  }
}